.main{
    height: 80vh;
    padding: 2%;
}

.banner {
    min-height: 70vh;
    background-image: url('../../../assets/images/webBg.svg');
    background-size: cover;
    background-attachment: fixed;
}

.banner-intro{
    display: flex;
    justify-content: center;
    align-items: center;

}


.footerRow{
      display: flex;  
      justify-content: start;
}

.search-form{
    display: flex;
}

.toggler {
    display: none;
}
.navLinks{
    display: flex;
}

.phrase{
    font-size: 5em;
}

.cap{
 text-align: left;
}

.sectTwo{
    min-height: 30vh;
}

.sectAdGoods{
    display: flex;
    flex-direction: row;
}

.testimonials{
    display: flex;
    flex-direction: row;
    gap: 50px;
}

@media screen and (max-width :768px){
    .navLinks{
        display: none;
        background-color: pink;
    }

    .toggler {
        display: flex;
    }
    #loginButton {
        display: none;
    }
    .phrase{
        font-size: 3em;
        text-align: center;
    }

    .search-form{
        display: none;
        background-color: red;
    }

    .cap{
        text-align: center;
       }

    .banner-intro{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    
    }

    .banner-content{
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 5px;
        
    }

    .sectTwo{
        display: flex;
        flex-direction: column;
        padding: 5%;
    }

    .sectAdGoods{
        display: flex;
        flex-direction: column;
        min-width: 100%;
        background-color: pink;
    }

    .testimonials{
        flex-direction: column;
    }

    .footerRow{
        display: flex; 
        flex-direction: column; 
        justify-content: center;
  }

    
}